<div class="littleBox">
    <mat-icon>info</mat-icon>
    <h4>About the cookies</h4>
    <p>A cookie is a small text file that a website can use to make your user experience more
      effective. Under the law, we may store cookies on your device only if it is strictly necessary 
      for our website to work. We need your permission to use all other types of cookies. This website
      uses a variety of cookies. Some cookies that appear on our website are placed by our third party
      service providers.<br>
      You can change or withdraw your consent to the use of cookies at any time. Our Privacy Policy
      tells you about who we are, how can contact us and how we process personal data. 
    </p>
  </div> 