h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  font-family: Roboto;
  color: #f2f2f2;
  margin-left: 39px;
  margin-top: 42px;
  margin-bottom: 25px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37.5px;
  margin-left: 39px;
}

.p-bottom {
  margin-bottom: 29px;
}

.p1 {
  position: absolute;
  left: 19.14%;
  right: 78.15%;
  top: 32%;
  bottom: 62%;
  color: #0400d1;
  font-size: 3.5rem;
}

.p2 {
  position: absolute;
  left: 19.14%;
  right: 78.15%;
  top: 38.5%;
  bottom: 60.5%;
  color: #828282;
  font-size: 3.5rem;
}

.p3 {
  position: absolute;
  left: 19.14%;
  right: 78.15%;
  top: 44.5%;
  bottom: 50 0.5%;
  color: #828282;
  font-size: 3.5rem;
}

.p4 {
  position: absolute;
  left: 19.14%;
  right: 78.15%;
  top: 51%;
  bottom: 44%;
  color: #828282;
  font-size: 3.5rem;
}

.vl {
  border-left: 6px solid #828282;
  height: 190px;
  width: 8px;
  position: absolute;
  left: 20.45%;
  right: 79.55%;
  top: 36.8%;
  bottom: 38.2%;
}
